{% extends 'base.html' %}
{% block content %}
<header class="form-header">
    <i class="fa-solid fa-robot"></i>
    <h2>Make a switch</h2>
</header>
<form method="POST" class="skt-form">
    {{ form.hidden_tag() }}
    <label for="switch_name">Switch Name</label>
    {{ form.switch_name(class="skt-input") }}
    
    <label for="switch_key">Switch Key</label>
    {{ form.switch_key(class="skt-input") }}
    
    <input class="skt-button skt-button--primary" type="submit" value="Commit change">
</form>
{% endblock %}
