{% extends 'base.html' %}
{% block content %}
<div class="space">
    <div class="card">
        <div class="flex-container">
            <div class="server-info">
                <h1 style="margin: 10px">Server: {{ name }}</h1>
                <p style="margin: 10px">Population: {{ players }}/{{ maxPlayers }}</p>
                <div style="margin: 10px">
                    {{ safe_html_code }} <!-- TODO: Add better map -->
                </div>
            </div>
            <div class="smart-devices">
                <h1 style="margin: 10px">Your smart switches</h1>
                <button style="margin: 10px" class="skt-button" type="submit" name="add_switch">
                    Add switch
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
