{% extends 'base.html' %}
{% block content %}
<div class="space">
    <div class="card">
        <div class="flex-container">
            <div class="server-info">
                <h1 style="margin: 10px">Server: {{ name }}</h1>
                <p style="margin: 10px">Population: {{ players }}/{{ max_players }}</p>
                <div style="margin: 10px">
                    {{ map }} <!-- TODO: Add better map -->
                </div>
            </div>
            <div class="smart-devices">
                <h1 style="margin: 10px">Your smart switches</h1>
                
                <form method="post" class="skt-collection">
                    {% for switch in bot_switches %}
                    <button style="margin: 10px" class="skt-button" type="submit" name="switch" value="{{ switch.switch_key }}">
                        {{ switch.switch_name }}
                    </button>
                    {% endfor %}
                    <button style="margin: 10px" class="skt-button" type="submit" name="add_switch" value="add_switch">
                        Add switch
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
