{% extends 'base.html' %}
{% block content %}
<header class="form-header">
    <i class="fa-solid fa-robot"></i>
    <h2>Make a bot</h2>
</header>
<form method="POST" class="skt-form">
    <label for="Name">Name</label>
    <input class="skt-input" type="text" name="Name">
    <label for="Token">Rust token</label>
    <input class="skt-input" type="text" name="Token">
    <label for="SteamID">Steam ID</label>
    <input class="skt-input" type="text" name="SteamID">
    <label for="Ip">IP Adress</label>
    <input class="skt-input" type="text" name="Ip">
    <label for="Port">Port</label>
    <input class="skt-input" type="text" name="Port">
    <input class="skt-button skt-button--primary" type="submit" value="Commit change">
</form>
{% endblock %}
