<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/element.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/component.css') }}">
    <script src="https://kit.fontawesome.com/2aac6f8878.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="page-navigation">
        <div class="content-wrapper">
            <a href="#" class="page-navigation__branding">
                <div class="page-navigation__logo">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
            </a>
            <div class="page-navigation__hider">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="page-navigation__items">
                <li  class="page-navigation__item">
                    <a href="/manager/">Dashboard</a>
                </li>
                <li  class="page-navigation__item">
                    <a href="/authorization/login">Sign in</a>
                </li>
                <li  class="page-navigation__item">
                    <a href="/authorization/register">Sign up</a>
                </li>
                <li  class="page-navigation__item">
                    <a href="/authorization/logout">Sign out</a>
                </li>
                <li  class="page-navigation__item">
                    <a href="/manager/makebot">Create a bot</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="page-content">
        <div class="content-wrapper">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer class="page-footer">
        <div class="content-wrapper">
            <span class="page-footer__copyright">
                SokkattoRP &copy; 2024
            </span>
            <ul class="page-footer__socials">
                <li class="page-footer__social">
                    <a href="#" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-reddit"></i>
                    </a>
                </li>
                <li class="page-footer__social">
                    <a href="#" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="page-footer__social">
                    <a href="#" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script/navigation.js') }}"></script>
</body>
</html>
